<!-- Footer partial
Wit dynamically generated year, for footer -->
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright <%=new Date().getFullYear();%>, Jordan Handy</p>
  </div>
</div>
</body>
</html>
